.signupForm {
  top: 100px;

  position: relative;
}
.user {
  text-align: left;
  color: blue;
}

.word {
  border-radius: 6px;
  padding: 10px 28px;
}

.signup {
  padding: 10px 90px;

  border-radius: 14px;
}
.txt {
  font-size: small;
}
label {
  text-align: left;
}
