.profileForm
{
  align-items: center;
  top:100px;
  margin-left: 40%;
  position: relative;

}
.user{
    text-align: left;
    color: blue;
}

.word{
  border-radius: 6px;
  padding: 10px 28px;
}

.signup{
  color: rgb(244, 237, 240);  
  padding: 10px 90px;
  background-color: rgb(222, 104, 191);
  border-radius: 14px;
}
.txt{
    font-size: small;
}
label {
    text-align: left;
}
